---
// Import necessary components
import MainLayout from '../layouts/MainLayout.astro';

// Import necessary images
import { SITE } from '../data_files/constants';

import { ServiceBenefitBlock, BentoGridService } from '@kbve/astropad';

const pageURL: string = 'https://kbve.com/services/';
const pageTitle: string = `Services | ${SITE.title}`;
const pageDescription: string =
	'Combining expert knowledge with your vision, KBVE offers exceptional service and comprehensive solutions in software and application development, from initial consultation to project completion.';
---

<MainLayout
	title={pageTitle}
	structuredData={{
		'@context': 'https://schema.org',
		'@type': 'WebPage',
		'@id': `${pageURL}`,
		url: `${pageURL}`,
		name: `${pageTitle}`,
		description: `${pageDescription}`,
		isPartOf: {
			'@type': 'WebSite',
			url: 'https://kbve.com',
			name: `${SITE.title}`,
			description: `${SITE.description}`,
		},
		inLanguage: 'en-US',
	}}>
	<div class="m-6 bg-cyan-100/[.25] p-2 rounded-lg">
		<h1
			class="p-1 mx-auto text-center font-bold md:text-4xl text-5xl font-extrabold bg-gradient-to-r from-cyan-700 via-indigo-500 to-yellow-300 dark:from-cyan-200 dark:via-indigo-200 dark:to-yellow-50 bg-clip-text text-transparent mb-2">
			Solutions For Every Business
		</h1>

		<p class="page-subtitle">
			Unbeatable services in every corner of the market. Way ahead of our
			competitors in pricing and quality
		</p>
	</div>

	<ServiceBenefitBlock collectionID="docs" collectionTag="services" />

	<h1 class="page-title-more">More Services</h1>
	<BentoGridService />
</MainLayout>

<style>
	.page-title {
		margin: 6rem auto 0;

		font-size: 4rem;
		font-weight: 700;
		text-align: center;
		color: white;
	}

	.page-subtitle {
		margin: 0 auto 5rem;

		font-size: 1.25rem;
		font-weight: 400;
		text-align: center;
		color: white;
	}

	.page-title-more {
		margin: 6rem auto 3rem;

		font-size: 3rem;
		font-weight: 700;
		text-align: center;
		color: white;
	}
</style>
