---
// Import necessary components
import MainLayout from '../layouts/MainLayout.astro';

// Import necessary images
import { SITE } from '../data_files/constants';

import { ServiceBenefitBlock, BentoGridService } from '@kbve/astropad';

const pageURL: string = 'https://kbve.com/services/';
const pageTitle: string = `Services | ${SITE.title}`;
const pageDescription: string =
	'Combining expert knowledge with your vision, KBVE offers exceptional service and comprehensive solutions in software and application development, from initial consultation to project completion.';
---

<MainLayout
	title={pageTitle}
	structuredData={{
		'@context': 'https://schema.org',
		'@type': 'WebPage',
		'@id': `${pageURL}`,
		url: `${pageURL}`,
		name: `${pageTitle}`,
		description: `${pageDescription}`,
		isPartOf: {
			'@type': 'WebSite',
			url: 'https://kbve.com',
			name: `${SITE.title}`,
			description: `${SITE.description}`,
		},
		inLanguage: 'en-US',
	}}>
  
	<div
		class="m-6 p-6 rounded-lg bg-gradient-to-b from-cyan-50 to-cyan-200 dark:from-cyan-900 dark:to-cyan-700 shadow-xl hover:shadow-2xl transition-shadow duration-500">
		<h1
			class="p-2 mx-auto text-center font-extrabold md:text-4xl text-5xl bg-gradient-to-r from-cyan-600 via-indigo-500 to-yellow-300 dark:from-cyan-200 dark:via-indigo-200 dark:to-yellow-50 bg-clip-text text-transparent animate-fadeIn mb-4">
			Transform Your Business with Unmatched Solutions
		</h1>

		<p
			class="text-center text-lg font-semibold text-gray-800 dark:text-gray-200 mb-6 animate-slideIn">
			Discover top-tier services that surpass the competition in both
			quality and pricing, delivering exceptional value across industries.
		</p>
	</div>

	<style>
		@keyframes fadeIn {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		@keyframes slideIn {
			0% {
				transform: translateY(20px);
				opacity: 0;
			}
			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}

		.animate-fadeIn {
			animation: fadeIn 1s ease-in-out forwards;
		}

		.animate-slideIn {
			animation: slideIn 0.8s ease-in-out forwards;
		}
	</style>

	<ServiceBenefitBlock collectionID="docs" collectionTag="services" />

	<h1 class="page-title-more">More Services</h1>
	<BentoGridService />
</MainLayout>

<style>

	.page-title-more {
		margin: 6rem auto 3rem;

		font-size: 3rem;
		font-weight: 700;
		text-align: center;
		color: white;
	}
</style>
