---
import MainLayout from '../../../layouts/MainLayout.astro';
import { SITE } from '../../../data_files/constants';
import ReactUnity from '../../../components/kilobase/auth/ReactUnity';
import AstroPhaser from 'apps/kbve.com/src/components/AstroPhaser.astro';

const pageTitle: string = `Itch Fish&Chip Deployment| ${SITE.title}`;
const pageDescription: string = `Fish and Chip Demo | KBVE.com`;
---

<MainLayout
	Nav={false}
	Footer={false}
	title={pageTitle}
	structuredData={{
		'@context': 'https://schema.org',
		'@type': 'WebPage',
		'@id': 'https://kbve.com/arcade/fishchip/itch/',
		url: 'https://kbve.com/arcade/fishchip/itch',
		name: `${pageTitle}`,
		description: `{${pageDescription}}`,
		isPartOf: {
			'@type': 'WebSite',
			url: 'https://kbve.com',
			name: 'Kilo Byte Virtual Engine',
			description:
				'Elevate your efficiency with KBVE, Kilobyte Virtual Engine! Discover cutting-edge software and automation solutions designed to streamline and enhance your projects. Let’s innovate together!',
		},
		inLanguage: 'en-US',
	}}>

		<!-- Form component positioned relative to the loader -->
			<section
				class={`flex-auto w-full bg-[#c0987d] border border-cyan-200 rounded-lg shadow bg-default bg-cover bg-blend-overlay`}
				style={`background-image: url('https://utfs.io/f/ae961975-ad95-4247-91cc-2c573d6fbe3e-1t0m0l.webp')`}>
				<AstroPhaser scene="/embed/js/phaser/fish/TownScene.js" />
			</section>
</MainLayout>
