---
// Import the necessary components
import MainLayout from '../layouts/MainLayout.astro';
import { SITE } from '../data_files/constants';

const pageTitle: string = `About | ${SITE.title}`;
const title: string = `About KBVE`;
const subTitle: string = `What is KBVE About?`;

const AboutUsOption1: string =
	'KBVE is at the forefront of the Technology and Gaming industry, dedicated to crafting cutting-edge software and immersive video games that redefine user experiences. Our passion for innovation drives us to deliver exceptional digital adventures and solutions.';
const AboutUsOption2: string = `At KBVE, we merge technology with creativity, developing state-of-the-art software and captivating video games designed to engage and inspire. Our commitment to excellence shines through every product, pushing the boundaries of what's possible in tech and gaming.`;
---

<!--Utilizing MainLayout for the outer layout of the page, and defining meta for SEO purposes-->
<MainLayout
	title={pageTitle}
	structuredData={{
		'@context': 'https://schema.org',
		'@type': 'WebPage',
		'@id': 'https://kbve.com/about/',
		url: 'https://kbve.com/about/',
		name: `${pageTitle}`,
		description:
			'Explore our software and automation solutions! Contact us to discuss your project and let us help you create the perfect automated tools and provide expert software support.',
		isPartOf: {
			'@type': 'WebSite',
			url: 'https://kbve.com',
			name: 'Kilo Byte Virtual Engine',
			description:
				'Elevate your efficiency with KBVE, Kilobyte Virtual Engine! Discover cutting-edge software and automation solutions designed to streamline and enhance your projects. Let’s innovate together!',
		},
		inLanguage: 'en-US',
	}}>
	<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
		<div class="mx-auto max-w-2xl lg:max-w-5xl">
			<div class="text-center">
				<h1
					class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight">
					{title}
				</h1>
				<p
					class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
					{subTitle}
				</p>
			</div>
		</div>

		<div class="mt-6 grid items-center gap-6 lg:grid-cols-2 lg:gap-16">
			<div class="flex flex-col rounded-xl p-4 sm:p-6 lg:p-8">
				<!-- Hero -->
				<div
					class="relative overflow-hidden before:absolute before:top-0 before:start-1/2 before:bg-[url('https://preline.co/assets/svg/examples/squared-bg-element.svg')] dark:before:bg-[url('https://preline.co/assets/svg/examples-dark/squared-bg-element.svg')] before:bg-no-repeat before:bg-top before:size-full before:-z-[1] before:transform before:-translate-x-1/2">
					<div
						class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
						<!-- Announcement Banner -->
						<div class="flex justify-center">
							<a
								class="inline-flex items-center gap-x-2 bg-white border border-gray-200 text-xs text-gray-600 p-2 px-3 rounded-full transition hover:border-gray-300 dark:bg-neutral-800 dark:border-neutral-700 dark:hover:border-neutral-600 dark:text-neutral-400"
								href="/project/">
								Explore the Projects
								<span class="flex items-center gap-x-1">
									<span
										class="border-s border-gray-200 text-blue-600 ps-2 dark:text-blue-500 dark:border-neutral-700">
										Explore
									</span>
									<svg
										class="flex-shrink-0 size-4 text-blue-600"
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round">
										<path d="m9 18 6-6-6-6"></path>
									</svg>
								</span>
							</a>
						</div>
						<!-- End Announcement Banner -->

						<!-- Title -->
						<div class="mt-5 max-w-xl text-center mx-auto">
							<h1
								class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-neutral-200">
								KiloByte Virtual Enterprise
							</h1>
						</div>
						<!-- End Title -->

						<div class="mt-5 max-w-3xl text-center mx-auto">
							<p
								class="text-lg text-gray-600 dark:text-neutral-400">
								{AboutUsOption1}
							</p>
						</div>

						<!-- Buttons -->
						<div class="mt-8 gap-3 flex justify-center">
							<a
								class="inline-flex justify-center items-center gap-x-3 text-center bg-gradient-to-tl from-blue-600 to-violet-600 hover:from-violet-600 hover:to-blue-600 border border-transparent text-white text-sm font-medium rounded-full py-3 px-4 dark:focus:ring-offset-gray-800"
								href="/discord/">
								<svg
									viewBox="0 -28.5 256 256"
									width="16"
									version="1.1"
									xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink"
									preserveAspectRatio="xMidYMid"
									fill="#000000">
									<g id="SVGRepo_bgCarrier" stroke-width="0">
									</g><g
										id="SVGRepo_tracerCarrier"
										stroke-linecap="round"
										stroke-linejoin="round">
									</g><g id="SVGRepo_iconCarrier">
										<g>
											<path
												d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z"
												fill="#5865F2"
												fill-rule="nonzero">
											</path>
										</g>
									</g>
								</svg>
								Join our Discord!
							</a>
						</div>
						<!-- End Buttons -->
					</div>
				</div>
				<!-- End Hero -->
			</div>

			<main id="content">
				
			</main>
		</div>
	</section>
</MainLayout>
