---
// [IMPORT]

import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { SITE } from '../../data_files/constants';

export async function getStaticPaths() {
    const arcade = await getCollection('arcade');
    return arcade.map((entry) => ({
        params: {
            slug: entry.slug,
        },
        props: {
            entry,
        },
    }));
}

const { slug } = Astro.params;
const { entry } = Astro.props;
const { Content, headings } = await entry.render();

const pageTitle = entry.data.title;
const pageDescription = entry.data.description;
const pageSlug = slug;
---

<MainLayout
title={pageTitle}
structuredData={{
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    '@id': `https://kbve.com/arcade/${slug}`,
    url: `https://kbve.com/arcade/${slug}`,
    name: `${pageTitle}`,
    description: `${pageDescription}`,
    isPartOf: {
        '@type': 'WebSite',
        url: 'https://kbve.com',
        name: ` ${SITE.title}`,
        description: `${SITE.description}`,
    },
    inLanguage: 'en-US',
}}
>
    <section class="mx-auto px-4 pb-12 pt-6 sm:px-6 lg:px-8 lg:pt-10">
        <!-- <Hero data={entry.data} /> -->
        <Content />
    </section>
</MainLayout>