---
// [IMPORTS]
import MainLayout from '../../layouts/MainLayout.astro';

import CardArcade from "../../components/ui/cards/CardArcade.astro";

import { SITE } from '../../data_files/constants';

import Bento from '../../components/Bento.astro';
import { getCollection, getEntry } from 'astro:content';
import type { CollectionEntry } from "astro:content";


const pageTitle: string = `Arcade - Classic & Exclusive Browser Games| ${SITE.title}`;
const pageDescription =
	"Dive into KBVE Arcade for a blast from the past with our collection of classic retro games, alongside exclusive, in-house developed fun you won't find anywhere else! Experience the nostalgia and discover new favorites, all playable in your browser. Perfect for gaming enthusiasts looking for a unique mix of old-school and innovative arcade games.";

const title: string = 'KBVE Arcade: Classic & Exclusive Browser Games';
const subTitle: string =
	'Experience the best of retro and innovative arcade games in your browser.';


const arcadeCollection: CollectionEntry<"arcade">[] =
  await getCollection("arcade");



---

<MainLayout
	title={pageTitle}
	structuredData={{
		'@context': 'https://schema.org',
		'@type': 'WebPage',
		'@id': 'https://screwfast.uk/blog',
		url: 'https://screwfast.uk/blog',
		name: `${pageTitle}`,
		description: `${pageDescription}`,
		isPartOf: {
			'@type': 'WebSite',
			url: 'https://kbve.com',
			name: ` ${SITE.title}`,
			description: `${SITE.description}`,
		},
		inLanguage: 'en-US',
	}}>
	<section
		class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full">
		<!--Page header-->
		<div class="mx-auto max-w-3xl text-left sm:text-center">
			<h1
				class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl">
				{title}
			</h1>

			<p
				class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400">
				{subTitle}
			</p>
		</div>
	</section>

	<section
		class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
		
        <div class="grid gap-6 lg:grid-cols-2">
            {arcadeCollection.map((arcadeEntry) => <CardArcade arcadeEntry={arcadeEntry} />)}
          </div>

	</section>
</MainLayout>
