---
import { pwaInfo } from 'virtual:pwa-info';
import { SITE } from '../defaults';
import Meta from 'src/layouts/core/Meta.astro';
import Nav from 'src/layouts/core/navbar/Nav.astro';
import Foot from 'src/layouts/core/footer/Footer.astro';

const {
	title = SITE.title,
	meta,
	structuredData,
	lang = 'en',
	Nav: showNav = true,
	Footer = true,
} = Astro.props;

interface Props {
	title?: string;
	meta?: string;
	structuredData?: object;
	lang?: string;
	Nav?: boolean;
	Footer?: boolean;
}

import '../../styles/global.css';
---


<!doctype html>
<html
	lang={lang}
	class="mx-auto">
    <head>
        <title>{title}</title>
		<script src="/src/pwa.ts"></script>
		<Meta meta={meta} structuredData={structuredData} />
        {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
	</head>

    <body class="bg-zinc-950 text-neutral-300 selection:bg-emerald-400 selection:text-neutral-700">
        {showNav && <Nav />}
        <main id="main-slot">
            <slot />
        </main>
        {Footer && <Foot />}
    </body>
		
    </html>