---
// Import necessary components from their individual files
import EmailInput from './input/EmailInput.astro';
import PasswordInput from './input/PasswordInput.astro';
import Checkbox from './input/Checkbox.astro';
import AuthBtn from '../../../components/ui/buttons/AuthBtn.astro';
import GoogleBtn from '../../../components/ui/buttons/GoogleBtn.astro';

import LoginForm from './LoginForm.svelte';
// Variables for customization of the LoginModal Component

const config = {
	id: 'hs-toggle-between-modals-login-modal', // Modal IDENTIFIER
	title: 'Sign in', // Main HEADING
	subTitle: "Don't have an account yet?", // Sub-Heading TEXT
	registerBtn: 'Sign up here', // Text for REGISTRATION BUTTON
	registerBtnDataHS: '#hs-toggle-between-modals-register-modal', // TARGET LINK for registration button
};
---

<div
	id={config.id}
	class="hs-overlay absolute start-0 top-0 z-50 hidden h-full w-full hs-overlay-backdrop-open:bg-neutral-900/90">
	<div
		class="m-3 mt-0 opacity-0 transition-all ease-out hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 sm:mx-auto sm:w-full sm:max-w-lg">
		<div class="mx-auto w-full max-w-md p-6">
			<div
				class="mt-7 rounded-xl border border-neutral-200 bg-neutral-100 shadow-sm dark:border-neutral-700 dark:bg-neutral-800">
				<div class="p-4 sm:p-7">
					<div class="text-center">
						<h2
							class="block text-2xl font-bold text-neutral-800 dark:text-neutral-200">
							{config.title}
						</h2>
						<p
							class="mt-2 text-sm text-neutral-600 dark:text-neutral-400">
							{config.subTitle}
							<a href="/register/">
							<button
								class="rounded-lg p-1 font-medium text-cyan-400 decoration-2 outline-none ring-zinc-500 hover:underline focus-visible:ring dark:text-cyan-400 dark:ring-zinc-200 dark:focus:outline-none"
								data-hs-overlay={config.registerBtnDataHS}>
								{config.registerBtn}
							</button>
							</a>
						</p>
					</div>


					<div class="mt-5">
						<p
							id="error-message"
							class="text-red-500 dark:text-red-400">
						</p>
						<p
							id="success-message"
							class="text-cyan-500 dark:text-cyan-400">
						</p>
					</div>

					
					<div class="mt-5" id="skeleton_login_loader">
						<div class="w-16 h-16 border-4 border-dashed rounded-full animate-spin border-cyan-500 dark:border-cyan-400"></div>
					</div>

					<LoginForm client:only="svelte" />
					<!-- <div class="mt-5">
						<GoogleBtn title="Sign in with Google" />

						<div
							class="flex items-center py-3 text-xs uppercase text-neutral-400 before:me-6 before:flex-[1_1_0%] before:border-t before:border-neutral-200 after:ms-6 after:flex-[1_1_0%] after:border-t after:border-neutral-200 dark:text-neutral-500 dark:before:border-neutral-600 dark:after:border-neutral-600">
							Or
						</div>
						<form id="loginForm">
							<div class="grid gap-y-4">
								<EmailInput
									id="login-email"
									errorId="login-email-error"
								/>
								<PasswordInput
									forgot={true}
									id="password"
									errorId="login-password-error"
									content="8+ characters required"
								/>
								<Checkbox id="remember-me" />
								<AuthBtn title="Sign in" />
							</div>
						</form>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 
<script is:inline type="module">


	let initialized = false;

	function initialize() {
		const loginForm = document.getElementById('loginForm');
		const errorMessage = document.getElementById('error-message');
		const successMessage = document.getElementById('success-message');

		loginForm.addEventListener('submit', async (event) => {
			event.preventDefault();
			const formData = new FormData(loginForm);
			const formProps = {
				email: formData.get('email'),
				password: formData.get('password'),
			};

			try {

				const response = await fetch(
					'https://rust.kbve.com/api/v1/auth/login',
					{
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
							'x-kbve-shieldwall': 'auth-login',
						},
						credentials: 'include',
						body: JSON.stringify(formProps),
					}
				);

				const responseData = await response.json();

				if (response.ok) {
					console.log('Login successful:', responseData);
					errorMessage.textContent = '';
					successMessage.textContent =
						'Succesful Login!... Getting dat profile, homie.';
					console.log('Token:', responseData.message.token);

					fetchProfile(responseData.message.token);
				} else {
					console.error('Login failed:', responseData);
					handleErrors(responseData);
				}
			} catch (error) {
				console.error('Network or other error:', error);
				errorMessage.textContent =
					'Network error. Please try again later.';
			}
		});

		function handleErrors(data) {
			if (data.message.error === 'invalid_password') {
				errorMessage.textContent =
					'Invalid password. Please try again.';
				successMessage.textContent = '';
			} else {
				errorMessage.textContent =
					'An error occurred. Please try again.';
				successMessage.textContent = '';
			}
		}

		async function fetchProfile(token) {
			try {
				const response = await fetch(
					'https://rust.kbve.com/api/v1/graceful/profile',
					{
						method: 'GET',
						headers: {
							'Content-Type': 'application/json',
							Authorization: `Bearer ${token}`,
							'x-kbve-shieldwall': 'auth-login',
						},
						credentials: 'include',
					}
				);

				if (response.ok) {
					const profileData = await response.json();
					successMessage.textContent = `Welcome ${profileData.username}!`;
					errorMessage.textContent = '';
					console.log(profileData);
				} else {
					console.error('Failed to fetch profile');
					successMessage.textContent = '';
					errorMessage.textContent = 'Error Fetching Profile';
				}
			} catch (error) {
				console.error('Error fetching profile:', error);
			}
		}

		initialized = true;
	}

	// Check theme and menu on window load
	window.addEventListener('DOMContentLoaded', () => {
		if (!initialized) {
			initialize();
		}
	});

	// Check theme and menu on after swap
	document.addEventListener('astro:after-swap', () => {
		if (!initialized) {
			initialize();
		}
	});
</script> -->
