---
import Layout from 'src/layouts/core/Layout.astro';

const pageTitle: string = `Register | KBVE`;
const title: string = `Register for KBVE`;
const subTitle: string = `Create your KBVE account`;

const RegisterDescription: string =
  'Join KBVE to access exclusive features, participate in our community, and stay updated with the latest in technology and gaming. Register now to start your journey with us!';

import { Register } from "src/layouts/client/supabase/register/Register";

---

<Layout
	title={pageTitle}
	structuredData={{
		'@context': 'https://schema.org',
		'@type': 'WebPage',
		'@id': 'https://kbve.com/register/',
		url: 'https://kbve.com/register/',
		name: `${pageTitle}`,
		description:
			'Create your KBVE account to unlock exclusive features and join our growing community of tech and gaming enthusiasts.',
		isPartOf: {
			'@type': 'WebSite',
			url: 'https://kbve.com',
			name: 'Kilo Byte Virtual Engine',
			description:
				'Elevate your efficiency with KBVE, Kilobyte Virtual Engine! Discover cutting-edge software and automation solutions designed to streamline and enhance your projects. Let’s innovate together!',
		},
		inLanguage: 'en-US',
	}}>

    <section class="px-6 py-12 sm:px-8 lg:px-12">
		<div
			class="mx-auto max-w-7xl relative flex flex-col md:flex-row rounded-3xl bg-white/5 backdrop-blur-md ring-1 ring-white/10
    shadow-[inset_0_0_0.5px_rgba(255,255,255,0.15),inset_0_1px_0_rgba(255,255,255,0.08),0_20px_40px_rgba(0,0,0,0.4)]
    hover:shadow-[inset_0_0_1px_rgba(255,255,255,0.2),inset_0_2px_1px_rgba(255,255,255,0.1),0_30px_60px_rgba(0,0,0,0.5)]
    transition-all duration-300 overflow-hidden ring-offset-1 ring-offset-white/5 hover:ring-4">
        <div class="flex-1 p-8">
          <h1 class="text-3xl font-bold mb-2">{title}</h1>
          <h2 class="text-xl mb-4">{subTitle}</h2>
          <p class="mb-6">{RegisterDescription}</p>
        </div>
    </div>
    </section>

<Register client:only="react"/>

</Layout>