---

---

<a
	class=""
	href="https://store.steampowered.com/app/2238370/"
	data-steam="2238370">
	<div class="svg-anim-scope max-w-24 h-auto">
		<svg
			width="569.605"
			height="116.383"
			viewBox="0 0 569.605 116.383"
			xmlns="http://www.w3.org/2000/svg">
			<g
				id="svgGroup"
				stroke-linecap="round"
				fill-rule="evenodd"
				font-size="9pt"
				stroke="#000"
				stroke-width="0.25mm"
				fill="none"
				style="stroke:#000;stroke-width:0.25mm;fill:none">
				<path
					d="M 23.145 48.047 L 23.145 53.467 L 23.438 53.467 A 29.626 29.626 0 0 1 27.097 46.277 Q 32.834 38.232 43.213 38.232 A 30.221 30.221 0 0 1 44.394 38.254 Q 44.92 38.275 45.376 38.315 A 12.763 12.763 0 0 1 46.216 38.416 A 28.971 28.971 0 0 1 46.741 38.502 Q 47.494 38.634 47.827 38.745 Q 48.926 39.111 48.926 40.43 L 48.926 58.081 A 2.806 2.806 0 0 1 48.867 58.688 Q 48.53 60.198 46.289 59.326 Q 45.496 58.996 44.075 58.635 A 36.648 36.648 0 0 0 43.762 58.557 A 11.227 11.227 0 0 0 42.607 58.345 Q 41.397 58.181 39.739 58.158 A 39.966 39.966 0 0 0 39.185 58.154 A 16.46 16.46 0 0 0 33.843 58.981 A 13.514 13.514 0 0 0 27.393 63.684 A 19.079 19.079 0 0 0 24.223 70.153 Q 23.145 73.937 23.145 78.735 L 23.145 110.669 Q 23.145 112.575 22.456 113.462 A 2.015 2.015 0 0 1 22.229 113.708 A 2.606 2.606 0 0 1 21.406 114.205 Q 20.644 114.504 19.491 114.544 A 10.612 10.612 0 0 1 19.116 114.551 L 4.028 114.551 Q 2.119 114.551 1.177 113.915 A 2.228 2.228 0 0 1 0.916 113.708 A 2.335 2.335 0 0 1 0.358 112.886 Q 0 112.042 0 110.669 L 0 49.292 Q 0 48.12 0.326 47.306 A 3.018 3.018 0 0 1 0.733 46.582 A 33.369 33.369 0 0 1 2.66 44.252 A 42.889 42.889 0 0 1 4.431 42.407 A 45.934 45.934 0 0 1 6.511 40.493 Q 7.97 39.226 9.741 37.866 A 3.888 3.888 0 0 1 10.291 37.519 A 2.886 2.886 0 0 1 10.913 37.28 A 5.782 5.782 0 0 1 11.332 37.191 Q 11.664 37.134 11.939 37.134 A 3.109 3.109 0 0 1 13.188 37.406 A 4.414 4.414 0 0 1 13.989 37.866 Q 19.258 41.992 21.776 45.073 A 18.546 18.546 0 0 1 22.485 45.996 A 3.297 3.297 0 0 1 23.143 47.92 A 4.083 4.083 0 0 1 23.145 48.047 Z"
					id="0"
					vector-effect="non-scaling-stroke">
				</path>
				<path
					d="M 124.585 69.727 L 124.585 111.182 Q 124.585 112.573 123.816 113.562 A 2.328 2.328 0 0 1 122.761 114.311 Q 122.117 114.551 121.216 114.551 L 110.23 114.551 Q 109.058 114.551 108.142 114.221 A 3.466 3.466 0 0 1 107.207 113.7 Q 106.859 113.433 106.529 113.063 A 6.198 6.198 0 0 1 106.421 112.939 L 101.88 107.08 L 101.367 107.08 Q 97.998 111.987 92.322 114.185 A 31.73 31.73 0 0 1 85.391 115.961 A 42.914 42.914 0 0 1 79.248 116.382 A 31.083 31.083 0 0 1 72.082 115.601 A 21.146 21.146 0 0 1 62.146 110.339 A 19.906 19.906 0 0 1 56.399 99.723 A 29.506 29.506 0 0 1 55.811 93.677 Q 55.811 88.184 57.825 83.459 A 18.107 18.107 0 0 1 61.485 78.015 A 24.73 24.73 0 0 1 64.856 75.11 Q 68.501 72.476 74.273 70.596 A 63.122 63.122 0 0 1 78.919 69.287 Q 87.964 67.09 102.026 66.724 A 21.026 21.026 0 0 0 101.763 63.27 Q 101.089 59.235 98.694 57.129 A 10.467 10.467 0 0 0 95.14 55.126 Q 92.445 54.199 88.696 54.199 Q 82.691 54.199 78.882 56.25 A 156.368 156.368 0 0 0 77.554 56.973 Q 75.549 58.077 74.616 58.688 A 8.138 8.138 0 0 0 74.121 59.033 Q 73.134 59.879 71.74 59.707 A 4.2 4.2 0 0 1 71.631 59.692 A 23.052 23.052 0 0 1 69.325 59.224 A 29.421 29.421 0 0 1 67.42 58.667 A 117.356 117.356 0 0 1 65.103 57.88 A 147.197 147.197 0 0 1 62.622 56.982 A 2.688 2.688 0 0 1 62.313 56.833 Q 62.166 56.751 62.009 56.644 A 5.306 5.306 0 0 1 61.816 56.506 A 1.236 1.236 0 0 1 61.38 55.88 A 1.828 1.828 0 0 1 61.304 55.518 A 4.741 4.741 0 0 1 61.313 55.231 Q 61.322 55.092 61.338 54.935 A 10.696 10.696 0 0 1 61.377 54.602 Q 61.437 54.151 61.645 53.084 A 104.295 104.295 0 0 1 61.743 52.588 A 38.17 38.17 0 0 1 61.992 51.445 Q 62.247 50.347 62.622 48.962 A 45.034 45.034 0 0 1 62.911 47.944 Q 63.236 46.845 63.538 46.072 A 11.98 11.98 0 0 1 63.721 45.63 Q 64.38 44.385 65.918 43.286 A 5.188 5.188 0 0 1 66.668 42.798 Q 68.043 42.032 71.206 40.825 A 130.604 130.604 0 0 1 73.462 39.99 A 30.244 30.244 0 0 1 77.95 38.793 Q 83.492 37.72 91.699 37.72 A 48.842 48.842 0 0 1 104.513 39.251 Q 119.175 43.247 123.127 57.666 A 45.691 45.691 0 0 1 124.585 69.727 Z M 101.88 88.843 L 101.88 80.713 Q 91.699 80.713 86.609 82.288 Q 82.075 83.69 80.243 85.848 A 5.853 5.853 0 0 0 79.834 86.389 A 9.649 9.649 0 0 0 78.15 91.846 Q 78.15 96.094 80.786 97.742 Q 83.423 99.39 87.305 99.39 Q 94.043 99.39 97.485 95.947 Q 100.502 92.931 101.606 89.746 A 11.885 11.885 0 0 0 101.88 88.843 Z"
					id="1"
					vector-effect="non-scaling-stroke">
				</path>
				<path
					d="M 167.505 48.047 L 167.505 53.467 L 167.798 53.467 A 29.626 29.626 0 0 1 171.457 46.277 Q 177.195 38.232 187.573 38.232 A 30.221 30.221 0 0 1 188.754 38.254 Q 189.281 38.275 189.736 38.315 A 12.763 12.763 0 0 1 190.576 38.416 A 28.971 28.971 0 0 1 191.101 38.502 Q 191.855 38.634 192.188 38.745 Q 193.286 39.111 193.286 40.43 L 193.286 58.081 A 2.806 2.806 0 0 1 193.227 58.688 Q 192.891 60.198 190.65 59.326 Q 189.856 58.996 188.436 58.635 A 36.648 36.648 0 0 0 188.123 58.557 A 11.227 11.227 0 0 0 186.968 58.345 Q 185.757 58.181 184.1 58.158 A 39.966 39.966 0 0 0 183.545 58.154 A 16.46 16.46 0 0 0 178.203 58.981 A 13.514 13.514 0 0 0 171.753 63.684 A 19.079 19.079 0 0 0 168.584 70.153 Q 167.505 73.937 167.505 78.735 L 167.505 110.669 Q 167.505 112.575 166.816 113.462 A 2.015 2.015 0 0 1 166.589 113.708 A 2.606 2.606 0 0 1 165.766 114.205 Q 165.005 114.504 163.852 114.544 A 10.612 10.612 0 0 1 163.477 114.551 L 148.389 114.551 Q 146.479 114.551 145.538 113.915 A 2.228 2.228 0 0 1 145.276 113.708 A 2.335 2.335 0 0 1 144.718 112.886 Q 144.36 112.042 144.36 110.669 L 144.36 49.292 Q 144.36 48.12 144.686 47.306 A 3.018 3.018 0 0 1 145.093 46.582 A 33.369 33.369 0 0 1 147.02 44.252 A 42.889 42.889 0 0 1 148.792 42.407 A 45.934 45.934 0 0 1 150.871 40.493 Q 152.33 39.226 154.102 37.866 A 3.888 3.888 0 0 1 154.651 37.519 A 2.886 2.886 0 0 1 155.274 37.28 A 5.782 5.782 0 0 1 155.692 37.191 Q 156.024 37.134 156.299 37.134 A 3.109 3.109 0 0 1 157.549 37.406 A 4.414 4.414 0 0 1 158.35 37.866 Q 163.618 41.992 166.136 45.073 A 18.546 18.546 0 0 1 166.846 45.996 A 3.297 3.297 0 0 1 167.503 47.92 A 4.083 4.083 0 0 1 167.505 48.047 Z"
					id="2"
					vector-effect="non-scaling-stroke">
				</path>
				<path
					d="M 254.517 84.082 L 223.096 84.082 A 19.953 19.953 0 0 0 224.08 89.041 A 14.023 14.023 0 0 0 228.626 95.581 A 16.912 16.912 0 0 0 234.668 98.608 Q 237.13 99.304 240.06 99.478 A 33.844 33.844 0 0 0 242.066 99.536 A 36.806 36.806 0 0 0 246.291 99.309 Q 248.412 99.063 250.18 98.552 A 16.151 16.151 0 0 0 252.869 97.522 A 98.53 98.53 0 0 0 254.748 96.568 Q 257.337 95.215 258.545 94.336 A 4.796 4.796 0 0 1 261.462 93.379 A 5.59 5.59 0 0 1 261.694 93.384 A 9.973 9.973 0 0 1 262.573 93.427 Q 263.526 93.512 264.844 93.764 A 43.284 43.284 0 0 1 265.686 93.933 Q 268.286 94.482 270.85 95.947 A 4.418 4.418 0 0 1 271.735 96.541 A 2.618 2.618 0 0 1 272.681 98.584 A 7.069 7.069 0 0 1 272.648 99.22 Q 272.59 99.862 272.425 100.736 A 29.404 29.404 0 0 1 272.315 101.294 Q 272.146 102.079 271.806 103.401 A 137.024 137.024 0 0 1 271.582 104.26 A 20.961 20.961 0 0 1 270.556 107.245 A 18.908 18.908 0 0 1 270.264 107.886 Q 269.824 108.691 268.872 109.424 A 18.794 18.794 0 0 1 268.028 109.978 Q 266.592 110.87 264.148 112.134 A 24.172 24.172 0 0 1 261.626 113.244 Q 260.288 113.752 258.694 114.216 A 59.752 59.752 0 0 1 255.249 115.1 A 44.819 44.819 0 0 1 250.624 115.878 Q 246.385 116.382 240.967 116.382 Q 228.589 116.382 219.434 112.39 Q 210.278 108.398 205.225 99.976 A 32.831 32.831 0 0 1 201.597 91.001 Q 200.572 86.906 200.284 82.097 A 64.762 64.762 0 0 1 200.171 78.223 A 62.239 62.239 0 0 1 201.172 66.677 Q 203.375 55.023 210.425 47.974 A 34.38 34.38 0 0 1 229.536 38.371 A 48.816 48.816 0 0 1 237.671 37.72 Q 247.499 37.72 254.638 40.843 A 29.984 29.984 0 0 1 256.384 41.675 A 29.081 29.081 0 0 1 264.437 47.701 A 26.63 26.63 0 0 1 268.03 52.588 A 30.173 30.173 0 0 1 271.831 64.667 A 37.329 37.329 0 0 1 272.022 68.481 A 26.666 26.666 0 0 1 271.706 72.74 Q 271.345 74.964 270.572 76.701 A 9.994 9.994 0 0 1 267.554 80.64 A 14.593 14.593 0 0 1 263.102 82.916 Q 259.504 84.082 254.517 84.082 Z M 222.949 69.067 L 246.826 69.067 Q 250.001 69.067 250.478 66.58 A 5.085 5.085 0 0 0 250.562 65.625 A 13.701 13.701 0 0 0 249.809 61.008 A 12.021 12.021 0 0 0 247.302 56.873 A 10.282 10.282 0 0 0 242.684 54.025 Q 240.427 53.32 237.525 53.32 A 17.509 17.509 0 0 0 233.476 53.758 Q 230.6 54.442 228.61 56.193 A 10.443 10.443 0 0 0 227.087 57.861 A 21.101 21.101 0 0 0 223.909 64.367 A 28.243 28.243 0 0 0 222.949 69.067 Z"
					id="3"
					vector-effect="non-scaling-stroke">
				</path>
				<path
					d="M 311.279 43.433 L 311.279 110.669 Q 311.279 112.575 310.59 113.462 A 2.015 2.015 0 0 1 310.364 113.708 A 2.606 2.606 0 0 1 309.54 114.205 Q 308.779 114.504 307.626 114.544 A 10.612 10.612 0 0 1 307.251 114.551 L 292.163 114.551 Q 290.253 114.551 289.312 113.915 A 2.228 2.228 0 0 1 289.05 113.708 A 2.335 2.335 0 0 1 288.492 112.886 Q 288.135 112.042 288.135 110.669 L 288.135 43.433 Q 288.135 41.526 288.824 40.64 A 2.015 2.015 0 0 1 289.05 40.393 A 2.606 2.606 0 0 1 289.874 39.896 Q 290.635 39.598 291.788 39.557 A 10.612 10.612 0 0 1 292.163 39.551 L 307.251 39.551 Q 309.161 39.551 310.102 40.187 A 2.228 2.228 0 0 1 310.364 40.393 A 2.335 2.335 0 0 1 310.922 41.215 Q 311.279 42.059 311.279 43.433 Z M 285.352 13.257 A 2.621 2.621 0 0 0 284.766 14.941 A 2.477 2.477 0 0 0 285.352 16.589 Q 285.938 17.285 286.89 18.457 A 80.387 80.387 0 0 0 288.57 20.373 A 99.477 99.477 0 0 0 291.504 23.474 A 62.754 62.754 0 0 0 296.997 28.418 Q 298.169 29.297 298.718 29.553 A 2.988 2.988 0 0 0 299.125 29.709 A 2.279 2.279 0 0 0 299.78 29.81 Q 300.069 29.81 300.38 29.728 A 3.357 3.357 0 0 0 300.879 29.553 Q 301.465 29.297 302.49 28.418 A 93.431 93.431 0 0 0 307.91 23.474 Q 310.547 20.874 312.525 18.604 A 300.349 300.349 0 0 1 312.983 18.048 Q 313.463 17.468 313.836 17.024 A 93.803 93.803 0 0 1 314.172 16.626 A 2.525 2.525 0 0 0 314.795 14.941 A 2.667 2.667 0 0 0 314.172 13.22 Q 313.55 12.451 312.598 11.353 A 84.005 84.005 0 0 0 307.983 6.445 A 114.301 114.301 0 0 0 302.49 1.392 Q 301.138 0.364 300.306 0.095 A 1.735 1.735 0 0 0 299.78 0 Q 298.901 0 297.144 1.392 Q 294.36 3.809 291.65 6.409 A 90.975 90.975 0 0 0 289.105 8.945 A 68.711 68.711 0 0 0 286.89 11.353 Q 285.938 12.524 285.352 13.257 Z"
					id="4"
					vector-effect="non-scaling-stroke">
				</path>
				<path
					d="M 387.378 96.68 L 392.725 108.765 A 3.85 3.85 0 0 1 392.884 109.211 Q 393.243 110.477 392.331 111.181 A 2.691 2.691 0 0 1 391.846 111.475 A 21.209 21.209 0 0 1 390.271 112.193 Q 387.579 113.306 382.91 114.624 Q 378.073 115.99 371.467 116.294 A 85.564 85.564 0 0 1 367.529 116.382 A 56.18 56.18 0 0 1 355.271 115.119 Q 346.457 113.149 339.966 108.107 A 35.183 35.183 0 0 1 338.159 106.604 Q 327.173 96.826 327.173 77.344 Q 327.173 64.893 332.227 56.03 A 33.704 33.704 0 0 1 346.582 42.444 A 42.507 42.507 0 0 1 358.639 38.53 A 57.996 57.996 0 0 1 368.555 37.72 A 86.002 86.002 0 0 1 372.615 37.809 Q 378.259 38.077 381.226 39.148 A 67.768 67.768 0 0 1 382.816 39.743 Q 384.969 40.582 385.886 41.159 A 3.78 3.78 0 0 1 386.206 41.382 Q 387.817 42.407 388.696 44.019 Q 389.209 44.824 389.868 46.802 A 21.059 21.059 0 0 1 390.576 49.555 A 25.481 25.481 0 0 1 390.82 51.123 Q 391.187 52.954 390.894 53.723 Q 390.67 54.31 389.722 55.088 A 12.393 12.393 0 0 1 389.063 55.591 A 24.61 24.61 0 0 1 385.862 57.386 A 27.735 27.735 0 0 1 385.217 57.678 Q 383.13 58.594 381.812 58.96 Q 380.896 59.204 380.337 59.143 A 1.564 1.564 0 0 1 380.127 59.106 Q 379.648 58.987 378.875 58.475 A 12.276 12.276 0 0 1 378.516 58.228 Q 377.344 57.422 375.22 56.433 Q 373.098 55.446 369.37 55.444 A 18.19 18.19 0 0 0 369.36 55.444 A 18.577 18.577 0 0 0 360.315 57.788 A 17.288 17.288 0 0 0 354.416 63.144 A 21.382 21.382 0 0 0 353.357 64.819 Q 350.684 69.507 350.684 76.538 A 32.393 32.393 0 0 0 351.279 82.947 Q 352.06 86.814 353.865 89.799 A 17.652 17.652 0 0 0 356.213 92.871 A 18.37 18.37 0 0 0 366.892 98.339 A 26.099 26.099 0 0 0 371.045 98.657 A 37.89 37.89 0 0 0 374.324 98.524 Q 376.962 98.294 378.955 97.668 Q 381.022 97.02 382.521 96.355 A 17.042 17.042 0 0 0 383.936 95.654 A 6.291 6.291 0 0 1 384.46 95.395 Q 385.545 94.924 386.17 95.251 Q 386.939 95.654 387.378 96.68 Z"
					id="5"
					vector-effect="non-scaling-stroke">
				</path>
				<path
					d="M 440.625 116.382 Q 422.168 116.382 411.401 106.567 A 31.138 31.138 0 0 1 402.587 92.132 Q 400.635 85.608 400.635 77.344 A 56.353 56.353 0 0 1 401.724 65.884 Q 403.129 59.123 406.349 53.998 A 29.304 29.304 0 0 1 411.804 47.571 A 37.972 37.972 0 0 1 428.205 39.223 Q 433.97 37.814 440.743 37.726 A 69.787 69.787 0 0 1 441.65 37.72 Q 459.668 37.72 470.508 47.424 Q 480.684 56.535 481.307 73.747 A 63.016 63.016 0 0 1 481.348 76.025 A 57.159 57.159 0 0 1 480.208 87.816 Q 478.687 95.029 475.134 100.486 A 31.114 31.114 0 0 1 470.508 106.055 A 35.941 35.941 0 0 1 454.251 114.806 Q 448.644 116.234 442.009 116.368 A 68.591 68.591 0 0 1 440.625 116.382 Z M 441.358 98.657 A 20.535 20.535 0 0 0 446.216 98.118 A 13.148 13.148 0 0 0 453.516 93.64 Q 457.119 89.232 457.557 79.311 A 64.674 64.674 0 0 0 457.617 76.465 A 51.534 51.534 0 0 0 457.359 71.107 Q 456.583 63.712 453.479 60.168 A 13.185 13.185 0 0 0 446.953 56.165 Q 444.788 55.557 442.189 55.462 A 26.756 26.756 0 0 0 441.211 55.444 A 19.397 19.397 0 0 0 435.828 56.153 A 14.438 14.438 0 0 0 428.87 60.535 A 15.013 15.013 0 0 0 426.125 65.243 Q 424.486 69.59 424.374 76.084 A 55.932 55.932 0 0 0 424.365 77.051 A 52.901 52.901 0 0 0 424.633 82.576 Q 425.243 88.367 427.245 91.851 A 11.893 11.893 0 0 0 428.65 93.823 A 13.647 13.647 0 0 0 435.303 97.89 Q 438.002 98.657 441.358 98.657 Z"
					id="6"
					vector-effect="non-scaling-stroke">
				</path>
				<path
					d="M 569.605 67.896 L 569.605 110.669 Q 569.605 112.575 568.916 113.462 A 2.015 2.015 0 0 1 568.689 113.708 A 2.606 2.606 0 0 1 567.865 114.205 Q 567.104 114.504 565.951 114.544 A 10.612 10.612 0 0 1 565.576 114.551 L 550.488 114.551 Q 548.579 114.551 547.637 113.915 A 2.228 2.228 0 0 1 547.376 113.708 A 2.335 2.335 0 0 1 546.818 112.886 Q 546.46 112.042 546.46 110.669 L 546.46 71.704 A 30.011 30.011 0 0 0 546.194 67.555 Q 545.512 62.691 543.091 60.059 Q 539.722 56.396 533.936 56.396 A 21.649 21.649 0 0 0 530.58 56.64 Q 527.177 57.175 525.037 58.887 A 16.439 16.439 0 0 0 520.239 65.186 L 520.239 110.669 Q 520.239 112.575 519.55 113.462 A 2.015 2.015 0 0 1 519.324 113.708 A 2.606 2.606 0 0 1 518.5 114.205 Q 517.739 114.504 516.586 114.544 A 10.612 10.612 0 0 1 516.211 114.551 L 501.123 114.551 Q 499.213 114.551 498.272 113.915 A 2.228 2.228 0 0 1 498.01 113.708 A 2.335 2.335 0 0 1 497.452 112.886 Q 497.095 112.042 497.095 110.669 L 497.095 49.292 Q 497.095 48.12 497.421 47.306 A 3.018 3.018 0 0 1 497.827 46.582 A 33.369 33.369 0 0 1 499.755 44.252 A 42.889 42.889 0 0 1 501.526 42.407 A 45.934 45.934 0 0 1 503.606 40.493 Q 505.064 39.226 506.836 37.866 Q 507.548 37.319 508.218 37.181 A 2.218 2.218 0 0 1 508.667 37.134 A 2.17 2.17 0 0 1 509.33 37.246 Q 509.873 37.42 510.498 37.866 A 71.01 71.01 0 0 1 513.189 40.084 Q 514.427 41.16 515.476 42.188 A 42.474 42.474 0 0 1 515.772 42.48 A 37.619 37.619 0 0 1 519.004 46.148 A 33.806 33.806 0 0 1 519.653 47.021 L 520.02 47.021 A 16.649 16.649 0 0 1 520.919 45.961 Q 521.971 44.814 523.537 43.44 A 52.783 52.783 0 0 1 523.755 43.25 A 16.143 16.143 0 0 1 526.008 41.634 Q 527.193 40.92 528.643 40.268 A 35.111 35.111 0 0 1 530.75 39.404 A 23.459 23.459 0 0 1 534.654 38.345 Q 536.641 37.974 538.959 37.823 A 51.267 51.267 0 0 1 542.285 37.72 A 31.767 31.767 0 0 1 555.396 40.503 A 21.758 21.758 0 0 1 563.689 47.087 A 28.001 28.001 0 0 1 565.613 49.878 A 24.391 24.391 0 0 1 568.197 56.032 Q 569.605 61.111 569.605 67.896 Z"
					id="7"
					vector-effect="non-scaling-stroke">
				</path>
			</g>
		</svg>
	</div>
</a>

<script is:inline>
	function setTextAnimation(
		delay,
		duration,
		strokeWidth,
		timingFunction,
		strokeColor,
		repeat
	) {
		const scopedContainer = document.querySelector('.svg-anim-scope');
		if (!scopedContainer) return;

		let paths = scopedContainer.querySelectorAll('path');
		let mode = repeat ? 'infinite' : 'forwards';

		paths.forEach((path, i) => {
			const length = path.getTotalLength();
			path.style.strokeDashoffset = `${length}px`;
			path.style.strokeDasharray = `${length}px`;
			path.style.strokeWidth = `${strokeWidth}px`;
			path.style.stroke = strokeColor;
			path.style.animation = `${duration}s svg-text-anim ${mode} ${timingFunction}`;
			path.style.animationDelay = `${i * delay}s`;
		});
	}

	document.addEventListener('astro:page-load', () => {
		setTextAnimation(0.1, 2.8, 2, 'linear', '#000000', true);
	});
</script>

<style>
	.svg-anim-scope path {
		fill: transparent;
		stroke: #000;
	}

	/* Scoped animation */
	@-webkit-keyframes svg-text-anim {
		40% {
			stroke-dashoffset: 0;
			fill: transparent;
		}
		60% {
			stroke-dashoffset: 0;
			fill: #6ed1f2;
		}
		100% {
			stroke-dashoffset: 0;
			fill: #6ed1f2;
		}
	}

	@keyframes svg-text-anim {
		40% {
			stroke-dashoffset: 0;
			fill: transparent;
		}
		60% {
			stroke-dashoffset: 0;
			fill: #6ed1f2;
		}
		100% {
			stroke-dashoffset: 0;
			fill: #6ed1f2;
		}
	}
</style>
