---
// Importing necessary components
import MainLayout from "../../layouts/MainLayout.astro";
import PrimaryCTA from "../../components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "../../components/ui/cards/CardSmall.astro";
import CardWide from "../../components/ui/cards/CardWide.astro";
import FeaturesStatsAlt from "../../components/sections/features/FeaturesStatsAlt.astro";
import TestimonialsSectionAlt from "../../components/sections/testimonials/TestimonialsSectionAlt.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "../../data_files/constants";

// Fetching all the product related content and sorting it by main.id
const product: CollectionEntry<"products">[] = (
  await getCollection("products")
).sort(
  (a: CollectionEntry<"products">, b: CollectionEntry<"products">) =>
    a.data.main.id - b.data.main.id,
);

// Define variables for page content

const pageURL: string = "https://kbve.com/products/";
const pageTitle: string = `Products | ${SITE.title}`;
const pageDescription: string = "Explore KBVE's premium hardware components and unique custom artwork, crafted for excellence and innovation in every project.";
const title: string = "Products";
const subTitle: string =
  "Discover the reliability and craftsmanship of KBVE products, tailored for both technical projects and artistic endeavors. Each hardware component and custom artwork is meticulously designed to meet high standards of quality and uniqueness, ensuring you have the perfect piece for your needs.";

// Testimonial data that will be rendered in the component
const testimonials = [
  // First testimonial data
  {
    content:
    "\"Since incorporating KBVE's hardware components into our development process, the quality and durability of our tech products have greatly improved. Their electronic parts and custom artwork enhance the uniqueness of each piece, making KBVE an indispensable partner in innovation.\"",
    author: "Jason Clark",
    role: "Tech Project Manager | TopTech",
    avatarSrc:
      "https://images.unsplash.com/photo-1500648767791-00dcc994a43e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
  // Second testimonial data
  {
    content:
    "\"As a game developer, the creative tools and resources provided by KBVE have been crucial in bringing our digital environments to life. Their commitment to supporting developers with tutorials and ready-to-use game assets is truly transformative. The support team is fantastic, always ready to help.\"",
      author: "Maria Gonzalez",
      role: "Game Developer | Interactive Adventures",
    avatarSrc:
      "https://images.unsplash.com/photo-1544005313-94ddf0286df2?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
  // Third testimonial data
  {
    content:
      "\"Utilizing KBVE's mobile application frameworks has significantly accelerated our app development timelines. Their robust APIs and developer-friendly tools are perfect for anyone looking to innovate quickly and efficiently. Plus, their team's proactive support ensures we always have what we need to succeed.\"",
    author: "Richard Kim",
    role: "Lead Mobile Developer | App Innovate",
    avatarSrc:
      "https://images.unsplash.com/photo-1474176857210-7287d38d27c6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
];

---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": `${pageURL}`,
    "url": `${pageURL}`,
    "name": `${pageTitle}`,
    "description": `${pageDescription}`,
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://kbve.com",
      "name": `${SITE.title}`,
      "description": `${SITE.description_short}`
    },
    "inLanguage": "en-US"
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="flex items-center gap-12">
        <h1
          class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="hidden max-w-screen-sm text-pretty text-neutral-600 dark:text-neutral-400 md:block">
              {subTitle}
            </p>
          )
        }
      </div>
      <PrimaryCTA title="Customer Stories" url="#testimonials" noArrow={true} />
    </div>
    <!--Displaying products in alternating styles. Alternative product gets different card styling.-->
    <!--Maps through all product entries and displays them with either CardSmall or CardWide based on their position.-->
    <section class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
      {
        product.map((product, index) => {
          const position = index % 4;
          if (position === 0 || position === 3) {
            return <CardSmall product={product} />;
          } else {
            return <CardWide product={product} />;
          }
        })
      }
    </section>
  </div>
  <!--Features statistics section-->
  <FeaturesStatsAlt
  title="Why Choose KBVE?"
  subTitle="Turn your creative and technical ideas into reality with KBVE. Whether you’re developing a game, crafting unique artwork, or building with our top-notch hardware components, our products are designed to empower your projects."
  benefits={[
    "High-quality hardware components for superior performance.",
    "Innovative software and game development tools.",
    "Dedicated customer support to ensure your project’s success.",
  ]}
  />
  <!--Testimonials section-->
  <TestimonialsSectionAlt
    title="What Our Customers Say"
    testimonials={testimonials}
  />
</MainLayout>
