---
import Sidebar from 'src/layout/Sidebar.astro';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description, image } = Astro.props as Props;
import { ClientRouter } from 'astro:transitions';
import './global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>

		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image ?? '/default-image.jpg'} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url.href} />
		<meta name="generator" content={Astro.generator} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image ?? '/default-image.jpg'} />

		<ClientRouter />
	</head>
	<body
		x-data="astro"
		x-bind="refreshOnPageLoad"
		role="document"
		class="h-full bg-[#28243d] text-gray-100 relative">
		<Sidebar />

		<!-- Glowing Progress Bar -->
		<div
			x-data="{ show: false, dimmed: false }"
			x-init="
				show = true;
				setTimeout(() => {
					dimmed = true;
					setTimeout(() => show = false, 500);
				}, 100)
			"
			x-show="show"
			:class="dimmed ? 'bg-purple-500/50' : 'bg-purple-500 animate-pulse'"
			id="loading"
			class="fixed top-0 left-0 h-1 w-full z-[99999] transition-all duration-700 ease-in-out opacity-100 flex items-center justify-end pr-2 overflow-visible">
			<img
				src="/assets/media/logo/discordsh_small_logo.webp"
				alt="DiscordSH Mini Logo"
				class="w-12 animate-spin transition-all duration-800 block outline-none border-none shadow-none overflow-visible"
				
			/>
		</div>

		<div
			x-show="sidebarOpen"
			x-transition.opacity
			class="fixed inset-0 bg-black bg-opacity-30 z-40"
			@click="toggleSidebar()">
		</div>

		<div
			:class="sidebarOpen ? 'md:ml-64 ml-16' : 'ml-16'"
			class="relative z-10 flex flex-col min-h-screen transition-all duration-300 ease-in-out">
			<slot role="main" />
		</div>
	</body>
</html>
