---
import Sidebar from 'src/layout/Sidebar.astro';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description, image } = Astro.props as Props;

import './global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>

		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image ?? '/default-image.jpg'} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url.href} />
		<meta name="generator" content={Astro.generator} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image ?? '/default-image.jpg'} />
	</head>
	<body
		x-data="{ sidebarOpen: false }"
		role="document"
		class="h-full bg-[#28243d] text-gray-100 relative">
		<Sidebar />

		<div
			x-show="sidebarOpen"
			x-transition.opacity
			class="fixed inset-0 bg-black bg-opacity-30 z-40"
			@click="sidebarOpen = false">
		</div>
		<div
			:class="sidebarOpen ? 'md:ml-64 ml-16' : 'ml-16'"
			class="relative z-10 flex flex-col min-h-screen transition-all duration-300 ease-in-out">
			<!-- Your header can go here, or stay in the page -->
			<slot role="main" />
		</div>
	</body>
</html>
