---
import MainLayout from '../../layouts/MainLayout.astro';
import CardLegal from '../../components/ui/cards/CardLegal.astro';


import { SITE } from '../../data_files/constants';
import { getCollection, getEntry } from 'astro:content';
import type { CollectionEntry } from 'astro:content';


const pageTitle: string = `Legal Information - Privacy & Terms of Service | ${SITE.title}`;
const pageDescription =
    "Explore the legal documentation for KBVE, including our Privacy Policy, Cookie Policy, End-User License Agreement (EULA), and Terms of Service. Ensure you understand your rights and responsibilities as a user of our website and applications.";

const title: string = 'KBVE Legal: Your Privacy and Terms of Service';
const subTitle: string =
    'Find detailed information about your legal rights and our responsibilities across our services.';


const legalCollection: CollectionEntry<'legal'>[] =
	await getCollection('legal');
---

<MainLayout
	title={pageTitle}
	structuredData={{
		'@context': 'https://schema.org',
		'@type': 'WebPage',
		'@id': 'https://kbve.com/legal',
		url: 'https://kbve.com/legal',
		name: `${pageTitle}`,
		description: `${pageDescription}`,
		isPartOf: {
			'@type': 'WebSite',
			url: 'https://kbve.com',
			name: ` ${SITE.title}`,
			description: `${SITE.description}`,
		},
		inLanguage: 'en-US',
	}}>
	<section
		class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full">
		<!--Page header-->
		<div class="mx-auto max-w-3xl text-left sm:text-center">
			<h1
				class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl">
				{title}
			</h1>

			<p
				class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400">
				{subTitle}
			</p>
		</div>
	</section>

	<section
		class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
		<div class="grid gap-6 lg:grid-cols-2">
			{
				legalCollection.map((legalEntry) => (
					<CardLegal legalEntry={legalEntry} />
				))
			} 
		</div>
	</section>
</MainLayout>
