---
import MainLayout from '../../layouts/MainLayout.astro';
import ReactKanban from '../../engine/kanban/ReactKanban';

import { SITE } from '../../data_files/constants';

const title: string = 'Kanban';
const subTitle: string = 'KBVE Kanban';
const pageTitle: string = `Kanban | ${SITE.title}`;
const pageDescription: string = ``;
---

<MainLayout
	title={pageTitle}
	structuredData={{
		'@context': 'https://schema.org',
		'@type': 'WebPage',
		'@id': 'https://kbve.com/kanban/',
		url: 'https://kbve.com/kanban/',
		name: `${pageTitle}`,
		description: `${pageDescription}`,
		isPartOf: {
			'@type': 'WebSite',
			url: 'https://kbve.com',
			name: `${SITE.title}`,
			description: `${SITE.description}`,
		},
		inLanguage: 'en-US',
	}}>
	<div
		class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
		<div
			class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
			<div class="flex items-center gap-12">
				<h1
					class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight">
					{title}
				</h1>
				{
					subTitle && (
						<p class="hidden max-w-screen-sm text-pretty text-neutral-600 dark:text-neutral-400 md:block">
							{subTitle}
						</p>
					)
				}
			</div>
		</div>

		<div class="relative min-h-screen">
			<!-- Loader with absolute positioning and high z-index -->
			<div
				class="absolute inset-0 flex justify-center items-center min-h-screen loader-container"
				id="skeleton_login_loader">
				<div
					class="w-16 h-16 border-4 border-dashed rounded-full animate-spin border-cyan-500 dark:border-cyan-400">
				</div>
			</div>

			<!-- Form component positioned relative to the loader -->
			<div
				id="dashboard_loader"
				class="relative z-10 dashboard-container">
				<div class="pb-5">Hello</div>
				<ReactKanban client:only="react" />
			</div>
		</div>
	</div>

	<!-- Inline CSS using style tag -->
	<style>
		@keyframes fadeOut {
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}

		@keyframes fadeIn {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		/* Apply keyframes to fade out the loader */
		.loader-container {
			animation: fadeOut 0.5s ease-in-out forwards;
			animation-delay: 1s; /* Delay the fadeOut to simulate the loader */
		}

		/* Apply keyframes to fade in the dashboard content */
		.dashboard-container {
			opacity: 0; /* Start with 0 opacity */
			animation: fadeIn 1s ease-in-out forwards;
			animation-delay: 0.5s; /* Delay to start after the loader fades out */
		}
	</style>
</MainLayout>
